{# templates/event/list.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Événements{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Liste des Événements</h1>

        <div class="mb-3">
            <a class="btn btn-primary" href="{{ path('app_event_new') }}" role="button">Créer un événement</a>
        </div>

        <div class="mb-3">
            {{ form_start(filter_form) }}
            {{ form_row(filter_form.title) }}
            {{ form_row(filter_form.dateFrom) }}
            {{ form_row(filter_form.dateTo) }}
            {{ form_row(filter_form.public) }}
            <button type="submit" class="btn btn-primary">Filtrer</button>
            {{ form_end(filter_form) }}
        </div>

        <table class="table table-striped table-hover text-center">
            <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Date</th>
                <th scope="col">Participants</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.title }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date|date('d/m/Y H:i') }}</td>
                    <td>
                        {{ event.users|length }}/{{ event.participantMax }}
                        <br>
                        <small>{{ event.getRemainingPlaces() }} places restantes</small>
                    </td>
                    <td>
                        {% if event.users.contains(app.user) %}
                            <a class="btn btn-danger btn-sm m-1" href="{{ path('app_event_unsubscribe', {'id': event.id}) }}">Se désinscrire</a>
                        {% else %}
                            {% if event.isFull() %}
                                <span>(Complet)</span>
                            {% else %}
                                <a class="btn btn-primary btn-sm m-1" href="{{ path('app_event_subscribe', {'id': event.id}) }}">S'inscrire</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {# Affichage de la pagination #}
        <div class="d-flex justify-content-center">
            {{ knp_pagination_render(events) }}
        </div>
    </div>
{% endblock %}
