{# templates/user/change_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier le Mot de Passe{% endblock %}

{% block body %}
    <h1>Modifier le Mot de Passe</h1>

    {% for flash_message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% for flash_message in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% if form.vars.submitted and form.vars.valid %}
        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }}

        <button type="submit" class="btn btn-primary">Modifier le Mot de Passe</button>
        {{ form_end(form) }}
    {% else %}
        {# Gérer le cas où le formulaire n'est pas encore soumis ou n'est pas valide #}
        {# Afficher le formulaire initial ici #}
        {{ form_start(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }}

        <button type="submit" class="btn btn-primary">Modifier le Mot de Passe</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
